{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %}
    Make a Reservation
{% endblock %}

{% block content %}
    <div class="reservation">
        <h1 class="my_title">Make a Reservation</h1>
        <div class="row text-center">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <img class="nursery-photo" src="{{ nursery.image.url }}" style="width: 100%">
                <h2 class="nursery-name">{{ nursery.name }}</h2>
                <h4 class="text-center">
                    Available Capacity:
                    <span class="js-available-stock"></span>
                </h4>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="margin-top-main">
            {% if reservation_exist %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>You already have the same reservation. Check your reservation history, please</strong>
            </div>
            {% endif %}
            <form enctype="multipart/form-data" method="post" onsubmit="return goNext()">
                {% csrf_token %}
                <input type="hidden" id="nursery_id" value="{{ nursery.id }}">
                <input type="hidden" name="period" id="period" value="">
                <input type="hidden" name="total_price" id="total_price" value="">
                <input type="hidden" name="children_age" id="children_age" value="">
                <input type="hidden" name="current_date" id="current_date" value="{{ current_date }}">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 row">
                            <div class="col-md-4"><label class="">Date</label></div>
                            <div class="col-md-8">{% bootstrap_field form.start_date %}</div>
                            <div class="alert alert-danger alert-start-date display-none">
                                <strong>The date cannot be in the past. You must choose future date! </strong>
                            </div>
                        </div>
                        <div class="col-md-3 row">
                            <div class="col-md-6"><label class="">Start Time</label></div>
                            <div class="col-md-6">{% bootstrap_field form.start_time %}</div>
                        </div>
                        <div class="col-md-3 row">
                            <div class="col-md-6"><label class="">Hourly Plan</label></div>
                            <div class="col-md-6">{% bootstrap_field form.price_plan %}</div>
                        </div>
                    </div>
                </div>
                <div class="total-price-box clearfix">
                    <p class="price float-left"></p>
                    <p class="float-left money-signal">USD</p>
                </div>
                <div class="reservation-info">
                    <div class="row">
                        <div class="col-md-7 control-label">Your Name</div>
                        <div class="col-md-5">{% bootstrap_field form.name %}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 control-label">Your Email</div>
                        <div class="col-md-5">{% bootstrap_field form.email %}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 control-label">Number of child</div>
                        <div class="col-md-5">
                            {% bootstrap_field form.child_number %}
                            <div class="alert alert-danger alert-stock-exceed display-none">
                                <strong>Child number exceed available capacity ! </strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 control-label">Age of your child</div>
                        <div class="col-md-5" id="child_age_box">{% bootstrap_field form.child_age %}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 control-label">If have an allergy, fill in</div>
                        <div class="col-md-5">{% bootstrap_field form.allergy %}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 control-label">If have not received a vaccination, fill in</div>
                        <div class="col-md-5">{% bootstrap_field form.vaccination %}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 control-label">If do not want a hospital in an emergency, fill in</div>
                        <div class="col-md-5">{% bootstrap_field form.illness %}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 control-label">If do not have travel insurance, fill in</div>
                        <div class="col-md-5">{% bootstrap_field form.travel_insurance %}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 control-label">If smart phone is not available while traveling, fill in</div>
                        <div class="col-md-5">{% bootstrap_field form.wifi %}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 control-label">A postscript about your child. And, if you have an SNS that can contact, fill in</div>
                        <div class="col-md-5">{% bootstrap_field form.note %}</div>
                    </div>
                    <div>
                        <input type="checkbox" name="service_terms_policy" class="service_terms_policy">
                        <a href="">Service, Terms and Privacy Policy</a>
                    </div>
                    <div class="alert alert-danger alert-service-term display-none">
                        <strong>You must agreed with our service, terms and privacy policy! </strong>
                    </div>
                    <div class="text-center confirm-btn-box">
                        <button type="submit" class="btn btn-secondary">Reserve here</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="alert alert-info display-none alert-nursery-full">
            <h4 class="text-center">Nursery is full for that day! You can reserve on another day or find another nursery</h4>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        $(document).ready(function () {
            setAvailableStock()
            setAvailableDateTime()
            setPeriod()
            setTotalPrice()


            $('#id_price_plan').change(function () {
                setPeriod()
                setTotalPrice()
            })

            $('#id_child_number').keyup(function () {
                if ($(this).val() === '0') $(this).val('1')
                setTotalPrice()
                makeChildrenAgeField()
            })

            $('.js-start-date').change(function () {
                $('.reservation-info').show();
                $('.alert-nursery-full').hide();
                setAvailableStock()
                setAvailableDateTime()
            })

            $('.js-start-time').change(function () {
                setAvailablePricePlan()
            })

        })

        function setAvailablePricePlan() {
            let start_time = parseInt($('.js-start-time').val())
            let unavailable_time_list = []
            let unavailable_time_elements = $('.js-start-time').find('option:disabled')
            $.each(unavailable_time_elements, function (idx, element) {
                let unavailable_time = parseInt($(element).val())
                unavailable_time_list[idx] = unavailable_time
            })

            if (unavailable_time_list.length < 1) return

            let time_delta = 0
            $.each(unavailable_time_list, function (idx, unavailable_time) {
                if (unavailable_time > start_time) {
                    time_delta = unavailable_time - start_time

                    return false
                }
            })

            let price_pan_option_elements = $('#id_price_plan').find('option')
            let price_plan_list = []

            $.each(price_pan_option_elements, function (idx, price_plan_option_element) {
                let plan_time = $(price_plan_option_element).text()
                let plan_price = $(price_plan_option_element).val()
                let plan_obj = {'plan_time': plan_time, 'plan_price': plan_price}
                price_plan_list[idx] = plan_obj
            })

            price_pan_option_elements = ''
            $.each(price_plan_list, function (idx, price_plan) {
                let plan_time = parseInt(price_plan.plan_time)
                let disabled = plan_time > time_delta ?  'disabled' : ''
                price_pan_option_elements += "<option value=" + price_plan.plan_price + " " + disabled + ">" + price_plan.plan_time + "</option>"
            })

            $('#id_price_plan').empty()
            $('#id_price_plan').append(price_pan_option_elements)
        }

        function setAvailableStock() {
            let target_date = $('.js-start-date').val();
            let nursery_id = $('#nursery_id').val()
            $.ajax({
                url: 'ajax/stock_per_date',
                data: {
                    'nursery_id': nursery_id,
                    'target_date': target_date
                },
                dataType: 'json',
                success: function (data) {
                    $('.js-available-stock').text(data.stock)
                    if (data.stock < 1 ) {
                        $('.reservation-info').hide();
                        $('.alert-nursery-full').show();
                    }
                }
            });
        }

        function setAvailableDateTime() {
            let target_date = $('.js-start-date').val();
            let nursery_id = $('#nursery_id').val()
            $.ajax({
                url: 'ajax/available-time-per-date',
                data: {
                    'nursery_id': nursery_id,
                    'target_date': target_date
                },
                contentType: "application/json",
                dataType: 'json',
                success: function (data) {
                    let limits = JSON.parse(data.limit)
                    let time_choices = [
                        {'val': '0', 'label': '00:00'},
                        {'val': '1', 'label': '01:00'},
                        {'val': '2', 'label': '02:00'},
                        {'val': '3', 'label': '03:00'},
                        {'val': '4', 'label': '04:00'},
                        {'val': '5', 'label': '05:00'},
                        {'val': '6', 'label': '06:00'},
                        {'val': '7', 'label': '07:00'},
                        {'val': '8', 'label': '08:00'},
                        {'val': '9', 'label': '09:00'},
                        {'val': '10', 'label': '10:00'},
                        {'val': '11', 'label': '11:00'},
                        {'val': '12', 'label': '12:00'},
                        {'val': '13', 'label': '13:00'},
                        {'val': '14', 'label': '14:00'},
                        {'val': '15', 'label': '15:00'},
                        {'val': '16', 'label': '16:00'},
                        {'val': '17', 'label': '17:00'},
                        {'val': '18', 'label': '18:00'},
                        {'val': '19', 'label': '19:00'},
                        {'val': '20', 'label': '20:00'},
                        {'val': '21', 'label': '21:00'},
                        {'val': '22', 'label': '22:00'},
                        {'val': '23', 'label': '23:00'},
                    ]
                    let start_time_value = parseInt($('.js-start-time').val())
                    let start_time_elem = $('.js-start-time')
                    start_time_elem.empty()

                    let options = ''
                    if (limits.length < 1) {
                        $.each(time_choices, function (idx, time_choice) {
                            let time_choice_value = parseInt(time_choice.val)
                            let selected = ''
                            if (time_choice_value == start_time_value) selected = 'selected'
                            options += "<option value=" + time_choice_value + " " + selected + ">" + time_choice.label + "</option>"
                        })
                        start_time_elem.append(options)
                        return
                    }

                    options = ''
                    $.each(time_choices, function (idx, time_choice) {
                        let disabled = ''
                        let time_choice_value = parseInt(time_choice.val)
                        $.each(limits, function (idx, limit) {
                            let time_from_value = parseInt(limit.time_from)
                            let time_to_value = parseInt(limit.time_to)
                            if (time_choice_value >= time_from_value && time_choice_value <= time_to_value) {
                                disabled = 'disabled'
                                return
                            }
                        })

                        let selected = ''
                        if (time_choice_value == start_time_value) selected = 'selected'
                        options += "<option value=" + time_choice_value + " " + disabled + " " + selected + ">" + time_choice.label + "</option>"
                    })

                    start_time_elem.append(options)

                    setAvailablePricePlan()
                }
            });
        }

        function setPeriod() {
            let period = $('#id_price_plan').children("option:selected").text()
            $('#period').val(period)
        }

        function setTotalPrice() {
            {#let unit_price = parseInt($('#id_price_plan').children("option:selected").val())#}
            let unit_price = parseInt($('#id_price_plan').val())
            let amount = $('#id_child_number').val() !== '' ? parseInt($('#id_child_number').val()) : 1
            let total_price = unit_price * amount

            $('.total-price-box .price').text(total_price)
            $('#total_price').val(total_price)
        }

        function makeChildrenAgeField() {
            if ($('#id_child_number').val() !== '') {
                let child_number = parseInt($('#id_child_number').val())
                let childrenField = $('#child_age_box .form-group')
                childrenField.empty()
                let i
                let elem = '<div class="row">'
                for (i = 0; i < child_number ; i++) {
                    elem += '<input type="number" maxlength="10" class="form-control col-md-3" required id="id_child_age_' + i + '">'
                }
                elem += '</div>'
                childrenField.append(elem)
            }
        }

        function goNext() {
            let stock = parseInt($('.js-available-stock').text())
            let child_number = parseInt($('#id_child_number').val())
            if (child_number > stock) {
                $('.alert-stock-exceed').show()
                return false
            }
            let agreed = $('.service_terms_policy').is(':checked')
            if (!agreed) {
                $('.alert-service-term').show()
                return false
            }

            let child_ages = $( "#child_age_box .form-group .form-control" ).map(function() {
                return $( this ).val();
              })
            .get()
            .join( ", " );

            $('#children_age').val(child_ages)
        }
    </script>
{% endblock %}