{% extends "base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block title %}
    Reservation History List - Travel Sitter
{% endblock %}
{% block content %}
    <div class="reservation-history-detail">
        <div class="content-box">
            <br>
            <h1 class="text-center my_title">Reservation Details</h1>
            <br>
            <table>
                <tr>
                    {% if payment is not None %}
                    <td valign="top" width="50%">
                        <h3>Your Address:</h3>
                        <p><b>Billing Name: </b>{{ payment.billingName }}<br></p>
                        <p><b>Billing Address: </b>{{ payment.billingAddress1 }}<br></p>
                        <p><b>Billing City: </b>{{ payment.billingCity }}<br></p>
                        <p><b>Billing PostCode: </b>{{ payment.billingPostcode }}<br></p>
                        <p><b>Billing Country: </b>{{ payment.billingCountry }}<br></p>
                        <p><b>Shipping Name: </b>{{ payment.shippingName }}<br></p>
                        <p><b>Shipping Address: </b>{{ payment.shippingAddress1 }}<br></p>
                        <p><b>Shipping City: </b>{{ payment.shippingCity }}<br></p>
                        <p><b>Shipping PostCode: </b>{{ payment.shippingPostcode }}<br></p>
                        <p><b>Shipping Country: </b>{{ payment.shippingCountry }}<br></p>
                    </td>
                    <td valign="top" width="50%">
                        <h3>Payment:</h3>
                        <p><b>Number: </b>#{{ payment.id }}</p>
                        <p><b>Amount: </b>{{ payment.amount}}</p>
                        <p><b>Date: </b>{{ payment.created_at|date:"d M Y"}}</p>
                        <p><b>Payment details:</b>${{ payment.amount }} was paid successfully via Stripe.</p>
                    </td>
                    {% else %}
                    <td colspan="2">
                        <h3>Payment Detail:</h3>
                        <p>Payment does't exist for this reservation!</p>
                    </td>
                    {% endif %}
                </tr>
                <tr>
                    <td valign="top" width="50%">
                        <h3>Nursery Information:</h3>
                        <p><b>Nursery Name: </b>{{ nursery.name }}</p>
                        <p><b>Nursery Slug: </b>{{ nursery.slug }}</p>
                        <p><b>Nursery Description: </b>{{ nursery.description }}<p>
                        <p><b>Nursery Stock: </b>{{ nursery.stock }}</p>
                    </td>
                    <td valign="top" width="50%">
                        <h3>Reservation Detail:</h3>
                        <p><b>Reservation Date: </b>{{ reservation.start_date }}<br/></p>
                        <p><b>Reservation Time: </b>{{ reservation.start_time }}:00<br/></p>
                        <p><b>Reservation Person's Name: </b>{{ reservation.name }}<br/></p>
                        <p><b>Reservation Person's Email: </b>{{ reservation.email }}<br/></p>
                        <p><b>Age of child: </b>{{ reservation.child_age }}<br/></p>
                        <p><b>Allergies: </b>{{ reservation.allergy }}<br/></p>
                        <p><b>Vaccination: </b>{{ reservation.vaccination }}<br/></p>
                        <p><b>Illness: </b>{{ reservation.illness }}<br/></p>
                        <p><b>Travel_insurance: </b>{{ reservation.travel_insurance }}<br/></p>
                        <p><b>Wifi: </b>{{ reservation.wifi }}<br/></p>
                        <p><b>Note: </b>{{ reservation.note }}<br/></p>
                    </td>
                </tr>
            </table>
            <div class="text-center confirm-btn-box">
                <button class="btn btn-secondary" onclick="window.print();"><i class="fas fa-print"></i>Print Order</button>
                <button class="btn btn-secondary" onclick="window.history.back()">back</button>
            </div>
        </div>
    </div>
{% endblock %}
                      