{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
    {% if city %}
        {{ city.description|truncatewords:155 }}
    {% else %}
        Welcome to Travel Sitter
    {% endif %}
{% endblock %}
{% block title %}
    {% if city %}
        {{ city.name }} - Travel Sitter
    {% else %}
        Let's make a reservation now.
    {% endif %}
{% endblock %}
{% block content %}

    {% if city %}
        <div class="row-my_row_class">
            <div class="mx-auto">
                <p><a href="{% url 'service:AllCity' %}">All Cities</a> | {{city.name}}</p>
            </div>
        </div>
    {% endif %}
    <div class="mx-auto">
    {% if city %}
        <img class="my_image" src="{{city.image.url}}" alt="{{city.name}}">
    </div>
    <br>
    <div>
        <h1 class="text-center my_title">{{city.name}}</h1>
        <p class="text-justify">{{city.description}}</p>  
    </div>
    {% else %}
        <img class="my_image my_image_padding" src="{% static 'img/two-fam.jpg'  %}" alt="Our Service">
    </div>
    <br>
    <div>
        <h1 class="text-center my_title">Please choose a city</h1>
    <!--    <p class="text-justify">We provide a high quarity child care to you.</p> -->
    </div>
    {% endif %}
    <div class="container">
        <div class="row mx-auto">
           {% for city in cities.object_list %}
               <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
                   <div class="card text-center" style="min-width: 18rem;">
                       <a href="{{city.get_url}}"><img class="card-img-top my_image" src="{{city.image.url}}" alt="{{city.name}}"></a>
                       <div class="card-body">
                           <h4>{{city.name}}</h4>
                           <p>{{city.price}}</p>
                       </div>
                   </div> 
               </div>
           {% endfor %}
       </div>
  <!--     
       <div class="mx-auto"> 
          {% if sittings.paginator.num_pages > 1 %} 
              <hr>
               <div class="text-center">
                   {% for pg in sittings.paginator.page_range %}
                       <a href="?page={{pg}}" class="btn btn-light btn-sm {% if sittings.number == pg %}active{% endif %}">{{pg}}</a>
                   {% endfor %}
               </div>
           {% endif %}
       </div>  -->
       <br>
   </div>
{% endblock %}
