{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
    This is the reservation page. Proceed to review your items and place the reservation perfectry.
{% endblock %}
{% block title %}
    Reservation - Travel Sitter
{% endblock %}
{% block content %}
    {% if not reservation_items %}
        <div>
            <div class="text-center">
                <br>
                <h1 class="text-center my_title">
                    You don't have a resevation.
                </h1>
                <br>
                <p class="text-center">
                    Please click <a href="{% url 'service:allCity' %}">here</a> to make the other reservation.
                </p>
            </div>
        </div>
    {% else %}
        <div>
            <div class="text-center">
                <br>
                <h1 class="text-center my_title">
                    Reservation page
                </h1>
                <br>
             </div>
        </div>
        <div class="row mx-auto">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thead class="my_custom_thead">
                        <tr>
                            <th colspan="5">
                                Your reservation
                            </th>
                        </tr>   
                    </thead>
                    <tbody>
                        {% for reservation_item in reservation_items %}
                            <tr>
                                <td>
                                    <a href="{{reservation_item.nursery.get_url}}"><img src="{{reservation_item.nursery.image.url}}" alt="" class="float-left rounded custom_image"></a>
                                </td>
                                <td class="text-left">
                                    {{reservation_item.nursery.name}}　
                                    <br>
                               <!--     SKU: {{reservation_item.nursery.id}}
                                    <br>  -->
                                    Price: ${{reservation_item.nursery.price}}
                                    <br>
                                    Total: {{reservation_item.quantity}} ×　${{reservation_item.nursery.price}}
                                 </td>
                                 <td>
                                     {{cart_item.sub_total}}
                                 </td>
                                 {% if reservation_item.quantity < reservation_item.nursery.stock %}
                                     <td>
                                         <a href="{% url 'reservation:add_reservation' reservation_item.nursery.id %}" class="custom_a"><i class="fas fa-plus-circle custom_icon"></i></a>&nbsp;<a href="{% url 'reservation:reservation_remove' reservation_item.nursery.id %}" class="custom_a"><i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;<a href="{% url 'reservation:full_remove' reservation_item.nursery.id %}" class="custom_icon"><i class="fas fa-trash-alt custom_icon"></i></a>
                                     </td>    
                                {% else %}
                                     <td>
                                         &nbsp;<a href="{% url 'reservation:reservation_remove' reservation_item.nursery.id %}" class="custom_a"><i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;<a href="{% url 'reservation:full_remove' reservation_item.nursery.id %}" class="custom_icon"><i class="fas fa-trash-alt custom_icon"></i></a>
                                     </td>
                                     <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thead class="my_custom_thead">
                        <tr>
                            <th>
                                Check out
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Please review your reservation before proceeding the payment.
                            </td> 
                        </tr>
                        <tr>
                            <td class="text-left">
                                Your total is: <strong>${{ total }}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mx-auto">
                    <form action="" method="POST">
                        {% csrf_token %}
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ data_key }}"
                        data-image="{% static 'img/atom.png' %}"
                        data-name="Travel Sitter"
                        data-description="{{ description }}"
                        data-amount="{{ stripe_total }}"
                        data-locale="auto"
                        data-currency="usd"
                        data-shipping-address="true"
                        data-billing-address="true"
                        data-zip-code="true">
                      </script>
                    </form>
                     <a href="{% url 'service:allCity' %}" class="btn btn-secondary btn-block my_custom_button">Make the other Reservation</a>
                </div>
            </div>
        </div>
        <br>
    {% endif %}
{% endblock %}