<div class="container">
    <div class="my_custom_menu">
        <ul>
            {% if request.user.is_authenticated and request.user.first_name %}
            <li>
                Welcome, <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.first_name }} <i class="fas fa-user-circle"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    {% if user.groups.all.0.name == "Vendor" %}
                        <a href="{% url 'service:VendorDashboard' %}" class="dropdown-item">Nursery Management</a>
                        <a href="{% url 'service:VendorNurseryLimitList' %}" class="dropdown-item">Nursery Limit</a>
                        <a href="{% url 'service:VendorNurseryReservationList' %}" class="dropdown-item">Reservation</a>
                    {% else %}
                        <a href="{% url 'reservation:ReservationHistoryList' %}" class="dropdown-item">Reserve History</a>
                    {% endif %}
                </div>
            </li>
            <li>
                <a href="{% url 'signout' %}">Sign Out <i class="fas fa-sign-out-alt"></i></a>
            </li>
            <li>
                <a href="{% url 'index' %}">How To</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">Sign Up <i class="fas fa-user-plus"></i></a>
            </li>
            <li>
                <a href="{% url 'signin' %}">Sign In <i class="fas fa-sign-in-alt"></i></a>
            </li>
             <li>
                <a href="{% url 'index' %}">How To</a>
             </li>
            {% endif %}
        </ul>
        
    </div>
</div>